@import "main";

header {
    padding-top: 43px;
    background: url("../img/header/background-about.png") #f9f9f9 no-repeat;
    @import "components/nav";
    .about-h1 {
        text-align: center;
        padding-bottom: 196px;
        h1 {
            text-decoration: underline;
            margin-bottom: 11px;
            font-size: pxtoem(42);
        }
        span {
            font-size: pxtoem(14);
        }
    }
}
.main {
    margin-bottom: 91px;
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image description";
        margin-top: 56px;
        @include break(1040px) {
            grid-template-columns: 1fr;
            grid-template-areas: "description" "image";
        }
        .main-people {
            grid-area: image;
            img {
                margin-top: -156px;
                @include break(1040px) {
                    margin-top: 0;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .main-text {
            grid-area: description;

            @include break(1040px) {
                margin-bottom: 40px;
            }
            h2 {
                max-width: 626px;
                width: 100%;
                font-size: pxtoem(32);
                font-weight: 300;
                margin-bottom: 40px;
                @include break(1040px) {
                    max-width: 100%;
                }
            }
            .main-text__p {
                p {
                    max-width: 516px;
                    width: 100%;
                    font-size: pxtoem(15);
                    margin-bottom: 35px;
                    @include break(1040px) {
                        max-width: 100%;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.about-ico {
    margin-bottom: 68px;
    .about-ico__container {
        .about-ico__container__text {
            h2 {
                font-size: pxtoem(32);
                text-align: center;
                margin-bottom: 40px;
            }
        }
        .about-ico__container-photo {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            img {
                margin: 0 15px 32px;
            }
        }
    }
}

.about-text {
    margin-bottom: 90px;
    .about-text__container {
        h2 {
            text-align: center;
            margin-bottom: 40px;
        }
        p {
            max-width: 736px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 42px;
        }
        .about-text__video {
            max-width: 818px;
            width: 100%;
            min-height: 438px;
            height: 100%;
            margin: 0 auto;
            background: url("../img/header/people-sleep.png") no-repeat center /
                100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}
.about-blog {
    .about-blog__container {
        .about-blog__post {
            h2 {
                font-size: pxtoem(32);
                font-weight: 300;
                text-align: center;
                margin-bottom: 40px;
            }
        }
        .about-blog__mixin {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            margin-bottom: 40px;
            grid-template-areas: "uno dos tres";
            @include break(1050px) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "uno dos" "tres tres";
                row-gap: 30px;
            }
            @include break(633px) {
                grid-template-columns: 1fr;
                grid-template-areas: "uno" "dos" "tres";
            }
            @import "components/blog.scss";
        }
    }
}
@import "components/footer";
