@import "main";

header {
    background-color: $secondary;
    padding-top: 43px;
    @include break(1305px) {
        padding: 43px 0;
    }
    @import "components/nav";
    .main-header {
        display: flex;
        .treding-header {
            .treding-episode {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p {
                    color: $primary;

                    font-size: pxtoem(14);
                    margin-left: 5.5px;
                }
            }
            .treding-h1__lorem {
                margin-bottom: 35px;
                h1 {
                    max-width: 708px;
                    width: 100%;

                    font-weight: 300;
                    font-size: pxtoem(52);
                    margin-bottom: 25px;
                    @include break(1305px) {
                        max-width: 100%;
                        text-align: center;
                    }
                }
                p {
                    max-width: 590px;
                    width: 100%;

                    font-size: pxtoem(16);
                    color: $black2;
                    @include break(1305px) {
                        max-width: 100%;
                        text-align: center;
                    }
                }
            }
            .play {
                display: flex;
                justify-content: center;
                @include break(633px) {
                    display: none;
                }
                img {
                    margin-bottom: 50px;
                }
            }
            .listen-on {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                p {
                    margin-right: 4px;

                    font-size: pxtoem(14);
                    color: $primary;
                }
            }
            .apps {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include break(633px) {
                    flex-direction: column;
                }
                .spotify,
                .podcast,
                .apple {
                    border: 1px solid $tertiary;
                    padding: 8px 20px 8px 10px;
                    height: 50px;
                    display: flex;
                    @include break(633px) {
                        margin-bottom: 20px;
                    }
                    img {
                        width: 35px;
                        height: 35px;
                        margin-right: 10px;
                    }
                    .spotify-text,
                    .podcast-text,
                    .apple-text {
                        p {
                            color: $grayscale3;
                        }
                        span {
                            text-transform: capitalize;
                            color: $grayscale3;
                            font-size: pxtoem(20);
                        }
                    }
                }
            }
        }
        .people-header {
            margin-top: -147px;
            @include break(1305px) {
                display: none;
            }
        }
    }
}
.episode {
    box-shadow: 0 10px 20px rgba(62, 62, 62, 0.8);
    border-radius: 8px;
    margin-top: -80px;
    background-color: white;
    position: relative;
    padding: 55px 70px;
    margin-bottom: 100px;
    @include break(1305px) {
        margin-top: 0;
        box-shadow: 0 0 0;
    }
    @include break(490px) {
        padding: 55px 0;
    }
    .episode-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 39px;
        @include break(633px) {
            flex-direction: column;
        }
        h2 {
            font-weight: 300;
            font-size: pxtoem(32);
            @include break(633px) {
                margin-bottom: 10px;
                font-size: pxtoem(28);
            }
        }
        p {
            padding: 14px 22px;
            background-color: $primary;
            color: white;

            font-size: pxtoem(14);
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .episode-items {
        .episode-item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: 10px;
            grid-template-areas: "player line chapter";
            &:last-child {
                margin-bottom: 57px;
            }
            @include break(1275px) {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "player"
                    "line"
                    "chapter";
            }
            .episode-items__go {
                display: flex;
                align-items: center;
                grid-area: player;
                @include break(1275px) {
                    width: 100%;
                    justify-content: space-between;
                }
                @include break(633px) {
                    flex-direction: column;
                    img {
                        margin-bottom: 15px;
                    }
                    .episode-items__texts {
                        h3 {
                            text-align: center;
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
                img {
                    margin-right: 11px;
                }
                .episode-items__texts {
                    h3 {
                        font-weight: 300;
                        font-size: pxtoem(24);
                        margin-bottom: 19px;
                        width: 100%;
                    }
                    p {
                        max-width: 526px;
                        width: 90%;

                        font-size: pxtoem(15);
                    }
                    img {
                        @include break(1040px) {
                            display: none;
                        }
                    }
                }
            }
            .episode-line {
                background-color: $tertiary;
                width: 1px;
                height: 120px;
                grid-area: line;
                @include break(1275px) {
                    height: 1px;
                    width: 100%;
                    margin: 20px 0;
                }
            }
            .episode-season {
                grid-area: chapter;
                @include break(1275px) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 40px;
                }
                @include break(560px) {
                    flex-direction: column;
                    align-items: center;
                }
                p {
                    font-size: pxtoem(14);
                    color: $grayscale1;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .episode-show {
        display: flex;
        justify-content: center;
        span {
            padding: 13px 19px;
            color: $primary;
            border: 1px solid $primary;
            border-radius: 3px;

            font-size: pxtoem(14);
            font-weight: 300;
        }
    }
}
.blog_posts {
    margin-bottom: 100px;
    .title {
        h3 {
            font-size: pxtoem(32);
            font-weight: 300;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .blog-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-bottom: 40px;
        grid-template-areas: "uno dos tres";
        @include break(1050px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "uno dos" "tres tres";
            row-gap: 30px;
        }
        @include break(633px) {
            grid-template-columns: 1fr;
            grid-template-areas: "uno" "dos" "tres";
        }
        @import "components/blog.scss";
    }
    .blog-flecha {
        text-align: center;
        img {
            margin: 0 30px;
            cursor: pointer;
        }
    }
}
.gallery {
    margin-bottom: 111px;
    .gallery-items {
        .gallery-text {
            h2 {
                font-size: pxtoem(32);
                font-weight: 300;
                text-align: center;
                margin-bottom: 31px;
            }
        }
        .gallery-photo {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "uno dos tres cuatro"
                "cinco dos seis siete"
                "ocho nueve diez siete";
            gap: 20px;
            @include break(1050px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    "uno dos tres"
                    "siete dos seis"
                    "siete nueve diez"
                    "cuatro ocho cinco";
            }
            .gallery-photo__container {
                overflow: hidden;

                .gallery-photo-container__grid-llave {
                    position: relative;
                    top: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                &:hover {
                    text-align: center;
                    .gallery-photo-container__grid-llave {
                        transition: 0.3s top ease-in-out;
                        top: -100%;
                    }
                }

                &:first-child {
                    grid-area: uno;
                }
                &:nth-child(2) {
                    grid-area: dos;
                }
                &:nth-child(3) {
                    grid-area: tres;
                }
                &:nth-child(4) {
                    grid-area: cuatro;
                }
                &:nth-child(5) {
                    grid-area: cinco;
                }
                &:nth-child(6) {
                    grid-area: seis;
                }
                &:nth-child(7) {
                    grid-area: siete;
                }
                &:nth-child(8) {
                    grid-area: ocho;
                }
                &:nth-child(9) {
                    grid-area: nueve;
                }
                &:nth-child(10) {
                    grid-area: diez;
                }
                .photo-container__grid {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
@import "components/footer.scss";
