@import "main";

header {
    background-color: $secondary;
    padding-top: 43px;
    @include break(1305px){
        padding: 43px 0;
    }
    @import "nav";
    .main-header {
        display: flex;
        .treding-header {
            .treding-episode {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p {
                    color: $primary;
                    font-family: "Josefin San";
                    font-size: pxtoem(14);
                    margin-left: 5.5px;
                }
            }
            .treding-h1__lorem {
                margin-bottom: 35px;
                h1 {
                    max-width: 708px;
                    width: 100%;
                    font-family: "Josefin Sans";
                    font-weight: 300;
                    font-size: pxtoem(52);
                    margin-bottom: 25px;
                    @include break(1305px) {
                        max-width: 100%;
                        text-align: center;
                    }
                }
                p {
                    max-width: 590px;
                    width: 100%;
                    font-family: "Josefin San";
                    font-size: pxtoem(16);
                    color: $black2;
                    @include break(1305px) {
                        max-width: 100%;
                        text-align: center;
                    }
                }
            }
            .play {
                display: flex;
                justify-content: center;
                @include break(633px){
                    display: none;
                }
                img {
                    margin-bottom: 50px;
                }
            }
            .listen-on {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                p {
                    margin-right: 4px;
                    font-family: "Josefin Sans";
                    font-size: pxtoem(14);
                    color: $primary;
                }
            }
            .apps {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include break(633px){
                    flex-direction: column;
                }
                .spotify,
                .podcast,
                .apple {
                    border: 1px solid $tertiary;
                    padding: 8px 20px 8px 10px;
                    height: 50px;
                    display: flex;
                    @include break(633px){
                        margin-bottom: 20px;
                    }
                    img {
                        width: 35px;
                        height: 35px;
                    }
                    .spotify-text,
                    .podcast-text,
                    .apple-text {
                        p {
                            font-family: "Josefin Sans";
                            color: $grayscale3;
                        }
                        span {
                            text-transform: capitalize;
                            color: $grayscale3;
                            font-size: pxtoem(20);
                        }
                    }
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
        .people-header {
            margin-top: -147px;
            @include break(1305px) {
                display: none;
            }
        }
    }
}
