@import "main";

header {
    background-color: $secondary;
    padding-top: 43px;
    @include break(1305px) {
        padding: 43px 0;
    }
    @import "nav";
    .main-header {
        display: flex;
        .treding-header {
            .treding-episode {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p {
                    color: $primary;
                    font-family: "Josefin San";
                    font-size: pxtoem(14);
                    margin-left: 5.5px;
                }
            }
            .treding-h1__lorem {
                margin-bottom: 35px;
                h1 {
                    max-width: 708px;
                    width: 100%;
                    font-family: "Josefin Sans";
                    font-weight: 300;
                    font-size: pxtoem(52);
                    margin-bottom: 25px;
                    @include break(1305px) {
                        max-width: 100%;
                        text-align: center;
                    }
                }
                p {
                    max-width: 590px;
                    width: 100%;
                    font-family: "Josefin San";
                    font-size: pxtoem(16);
                    color: $black2;
                    @include break(1305px) {
                        max-width: 100%;
                        text-align: center;
                    }
                }
            }
            .play {
                display: flex;
                justify-content: center;
                @include break(633px) {
                    display: none;
                }
                img {
                    margin-bottom: 50px;
                }
            }
            .listen-on {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                p {
                    margin-right: 4px;
                    font-family: "Josefin Sans";
                    font-size: pxtoem(14);
                    color: $primary;
                }
            }
            .apps {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include break(633px) {
                    flex-direction: column;
                }
                .spotify,
                .podcast,
                .apple {
                    border: 1px solid $tertiary;
                    padding: 8px 20px 8px 10px;
                    height: 50px;
                    display: flex;
                    @include break(633px) {
                        margin-bottom: 20px;
                    }
                    img {
                        width: 35px;
                        height: 35px;
                    }
                    .spotify-text,
                    .podcast-text,
                    .apple-text {
                        p {
                            font-family: "Josefin Sans";
                            color: $grayscale3;
                        }
                        span {
                            text-transform: capitalize;
                            color: $grayscale3;
                            font-size: pxtoem(20);
                        }
                    }
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
        .people-header {
            margin-top: -147px;
            @include break(1305px) {
                display: none;
            }
        }
    }
}
.episode {
    box-shadow: 0 10px 20px rgba(62, 62, 62, 0.8);
    border-radius: 8px;
    margin-top: -80px;
    background-color: white;
    position: relative;
    padding: 55px 70px;
    margin-bottom: 100px;
    @include break(1305px) {
        margin-top: 0;
        box-shadow: 0 0 0;
    }
    @include break(490px) {
        padding: 55px 0;
    }
    .episode-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 39px;
        @include break(633px) {
            flex-direction: column;
        }
        h2 {
            font-family: "Josefin Sans";
            font-family: 300;
            font-size: pxtoem(32);
            @include break(633px) {
                margin-bottom: 10px;
                font-size: pxtoem(28);
            }
        }
        p {
            padding: 14px 22px;
            background-color: $primary;
            color: white;
            font-family: "Josefin Sans";
            font-size: pxtoem(14);
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .episode-items {
        .episode-item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: 10px;
            grid-template-areas: "player line chapter";
            &:last-child {
                margin-bottom: 57px;
            }
            @include break(1275px) {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "player"
                    "line"
                    "chapter";
            }
            .episode-items__go {
                display: flex;
                align-items: center;
                grid-area: player;
                @include break(1275px) {
                    width: 100%;
                    justify-content: space-between;
                }
                @include break(633px) {
                    flex-direction: column;
                    img {
                        margin-bottom: 15px;
                    }
                    .episode-items__texts {
                        h3 {
                            text-align: center;
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
                img {
                    margin-right: 11px;
                }
                .episode-items__texts {
                    h3 {
                        font-family: "Josefin Sans";
                        font-weight: 300;
                        font-size: pxtoem(24);
                        margin-bottom: 19px;
                        width: 100%;
                    }
                    p {
                        max-width: 526px;
                        width: 90%;
                        font-family: "Josefin Sans";
                        font-size: pxtoem(15);
                    }
                    img {
                        @include break(1040px) {
                            display: none;
                        }
                    }
                }
            }
            .episode-line {
                background-color: $tertiary;
                width: 1px;
                height: 120px;
                grid-area: line;
                @include break(1275px) {
                    height: 1px;
                    width: 100%;
                    margin: 20px 0;
                }
            }
            .episode-season {
                grid-area: chapter;
                @include break(1275px) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 40px;
                }
                @include break(560px) {
                    flex-direction: column;
                    align-items: center;
                }
                p {
                    font-family: "Josefin Sans";
                    font-size: pxtoem(14);
                    color: $grayscale1;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .episode-show {
        display: flex;
        justify-content: center;
        span {
            padding: 13px 19px;
            color: $primary;
            border: 1px solid $primary;
            border-radius: 3px;
            font-family: "Josefin Sans";
            font-size: pxtoem(14);
            font-weight: 300;
        }
    }
}
.blog_posts {
    margin-bottom: 100px;
    .title {
        h3 {
            font-family: "Josefin Sans";
            font-size: pxtoem(32);
            font-weight: 300;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .blog-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-bottom: 40px;
        grid-template-areas: "uno dos tres";
        @include break(1050px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "uno dos" "tres tres";
            row-gap: 30px;
        }
        @include break(633px) {
            grid-template-columns: 1fr;
            grid-template-areas: "uno" "dos" "tres";
        }
        .blog-item {
            padding: 42px 37px;
            border-radius: 6px;
            box-shadow: 0 5px 10px rgba(62, 62, 62, 0.8);
            &:first-child {
                grid-area: uno;
            }
            &:nth-child(2) {
                grid-area: dos;
            }
            &:last-child {
                grid-area: tres;
            }
            .blog-title {
                display: flex;
                position: relative;
                margin-bottom: 25px;
                .blog-title__container {
                    flex-direction: column;
                    span {
                        display: flex;
                        align-items: center;
                        font-family: "Josefin Sans";
                        font-size: pxtoem(16);
                        margin-bottom: 12px;
                        color: $primary;
                        p {
                            margin-left: 10px;
                            font-size: pxtoem(14);
                            color: $grayscale2;
                        }
                    }
                    p {
                        font-family: "Josefin Sans";
                        font-size: pxtoem(14);
                        color: $grayscale2;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: -37px;
                    width: 2px;
                    height: 45px;
                    background-color: $primary;
                    border: 1.5px solid $primary;
                }
            }
            .blog-head {
                margin-bottom: 20px;
                font-size: pxtoem(24);
                font-weight: 300;
                font-family: "Josefin Sans";
            }
            .blog-lorem {
                font-size: pxtoem(15);
                font-family: "Josefin Sans";
                margin-bottom: 30px;
            }
            .blog-readMore {
                padding: 13px 24px;
                border-radius: 3px;
                border: 1px solid $primary;
                width: max-content;
                font-family: "Josefin Sans";
                font-size: pxtoem(14);
                font-weight: 300;
                color: $primary;
                cursor: pointer;
            }
        }
    }
    .blog-flecha {
        text-align: center;
        img {
            margin: 0 30px;
            cursor: pointer;
        }
    }
}
.gallery {
    .gallery-items {
        .gallery-text {
            h2 {
                font-family: "Josefin Sans";
                font-size: pxtoem(32);
                font-weight: 300;
                text-align: center;
                margin-bottom: 31px;
            }
        }
        .gallery-photo {
            .gallery-photo__container {
                display: grid;
                grid-template-areas:
                    "uno dos tres cuato"
                    "cinco dos seis siete"
                    "ocho nueve diez siete";
                img {
                    
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}
