- const gocasts = "GOCASTS"

footer 
    .container 
        .footer-logo 
            img(src="img/footer/logo.png")
            h2=gocasts 
        .footer-lorem 
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
        .footer-socials 
            h3 socials 
            .footer-socials__redes 
            