doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/home.css")
        title Home 
    body
        header 
            .container 
                include nav
                .main-header 
                    .treding-header 
                        .trading-items 
                            .treding-episode 
                                img(src="img/header/linea.png")
                                p Trending Episode 
                            .treding-h1__lorem 
                                h1 Dreams of an unique ideas scattered through a deserted.
                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            .play 
                                img(src="img/header/play.png")
                            .listen-on 
                                p Listen On Also
                                img(src="img/header/linea.png")
                            .apps 
                                .spotify 
                                    img(src="img/header/spotify.png")
                                    .spotify-text 
                                        p Listen on 
                                        span spotify
                                .podcast 
                                    img(src="img/header/podcast.png")
                                    .podcast-text 
                                        span Listen on
                                        .podcast-text__items 
                                            p Google 
                                            span Podcasts 
                                .apple 
                                    img(src="img/header/app.png")
                                    .apple-text 
                                        p  Listen on 
                                        span Apple Podcasts
                    .people-header 
                        img(src="img/header/people.png")
