- const gocast = "GOCAST"
- const menu = ["Home", "About", "Episode", "Blog", "Pages", "Contact"]
- const link = ["index.html", "about.html", "episode.html", "ages.html", "contact.html"]

mixin linkmenu (nombre, enlace)
    li: a(href=enlace)= nombre

.navegation-header 
    .navegation-logo 
        img(src="img/logo/gocast.png")
        span= gocast 
    nav: ul    
        for valor, indice in menu
            +linkmenu(valor,link[indice])

    .donate 
        span.donate-suscribe suscribe 
        .donate-button 
            img(src="img/logo/donate.png")
            span.donate-title donate 