.blog-item {
    padding: 42px 37px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(62, 62, 62, 0.8);
    &:first-child {
        grid-area: uno;
    }
    &:nth-child(2) {
        grid-area: dos;
    }
    &:last-child {
        grid-area: tres;
    }
    .blog-title {
        display: flex;
        position: relative;
        margin-bottom: 25px;
        .blog-title__container {
            flex-direction: column;
            span {
                display: flex;
                align-items: center;

                font-size: pxtoem(16);
                margin-bottom: 12px;
                color: $primary;
                p {
                    margin-left: 10px;
                    font-size: pxtoem(14);
                    color: $grayscale2;
                }
            }
            p {
                font-size: pxtoem(14);
                color: $grayscale2;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: -37px;
            width: 2px;
            height: 45px;
            background-color: $primary;
            border: 1.5px solid $primary;
        }
    }
    .blog-head {
        margin-bottom: 20px;
        font-size: pxtoem(24);
        font-weight: 300;
    }
    .blog-lorem {
        font-size: pxtoem(15);

        margin-bottom: 30px;
    }
    .blog-readMore {
        padding: 13px 24px;
        border-radius: 3px;
        border: 1px solid $primary;
        width: max-content;

        font-size: pxtoem(14);
        font-weight: 300;
        color: $primary;
        cursor: pointer;
    }
}
