.episode-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    grid-template-areas: "player line chapter";
    &:last-child {
        margin-bottom: 57px;
    }
    @include break(1275px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "player"
            "line"
            "chapter";
    }
    .episode-items__go {
        display: flex;
        align-items: center;
        grid-area: player;
        @include break(1275px) {
            width: 100%;
            justify-content: space-between;
        }
        @include break(633px) {
            flex-direction: column;
            img {
                margin-bottom: 15px;
            }
            .episode-items__texts {
                h3 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
        }
        img {
            margin-right: 11px;
        }
        .episode-items__texts {
            h3 {
                font-weight: 300;
                font-size: pxtoem(24);
                margin-bottom: 19px;
                width: 100%;
            }
            p {
                max-width: 526px;
                width: 90%;

                font-size: pxtoem(15);
            }
            img {
                @include break(1040px) {
                    display: none;
                }
            }
        }
    }
    .episode-line {
        background-color: $tertiary;
        width: 1px;
        height: 120px;
        grid-area: line;
        @include break(1275px) {
            height: 1px;
            width: 100%;
            margin: 20px 0;
        }
    }
    .episode-season {
        grid-area: chapter;
        @include break(1275px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
        @include break(560px) {
            flex-direction: column;
            align-items: center;
        }
        p {
            font-size: pxtoem(14);
            color: $grayscale1;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
