extends main 

block head
    link(rel="stylesheet", href="../css/blog.css")
    title Blog
block postNav
    .blog 
        h1= blogH1
        span= spanHome
block body
    .blog-post 
        .container 
            .blog-post__container 
                .blog-post__text 
                    h2= blogPosts
                .blog-items 
                    for blog in tituloblog2
                        +blog(blog)            

