extends main

block head 
    link(rel="stylesheet", href="../css/episodes.css")
    title Episodes
block postNav 
    .episode-h1 
        h1= episodeH1
        span= episodeSpan
block body
    .podcast    
        .container 
            .podcast-container 
                .podcast-text 
                    h2= podcastText
                .podcast-mixin
                    for visiting, indice in podcasts2
                        +episode(visiting,podcastsTitle2[indice])