//- Variables

- const galleryitems = ["../img/gallery/1.png", "../img/gallery/2.png", "../img/gallery/3.png", "../img/gallery/4.png", "../img/gallery/5.png", "../img/gallery/6.png", "../img/gallery/7.png", "../img/gallery/8.png", "../img/gallery/9.png", "../img/gallery/10.png"]

- const podcasts = ['../img/podcast/dog.png', '../img/podcast/book.png', '../img/podcast/door.png'];
- const podcastsTitle = ["Visiting my best friend's city for first time", 'An interesting read I definitely recommend', 'What if all my adventures go back home?']

- const tituloblog = ["Global News Podcast Thai soldier kills many people a shooting rampage", "News hour - World HealthOrganization says a new coronavirus cases slowed", "Over to You - Programme face the axe substantial financial cutbacks"]

- const titleAbout = "About Me" 
- const homeAbout = "Home / About"
- const aboutIco = ["../img/about-icon/1.png", "../img/about-icon/2.png", "../img/about-icon/3.png", "../img/about-icon/4.png", "../img/about-icon/5.png", "../img/about-icon/6.png", "../img/about-icon/7.png", "../img/about-icon/8.png", "../img/about-icon/9.png", "../img/about-icon/10.png", "../img/about-icon/11.png"]
- const aboutH2 = "I Have Been Featured in"
- const aboutNewH2 = "Directly Into Your Inbox Every Monday"
- const aboutBlogH2 = "Blog Posts"

- const episodeH1 = "Episodes"
- const episodeSpan = "Home / Episodes"
- const podcasts2 = ['../img/podcast/dog.png', '../img/podcast/book.png', '../img/podcast/door.png', '../img/podcast/dog.png', '../img/podcast/book.png'];
- const podcastsTitle2 = ["Visiting my best friend's city for first time", 'An interesting read I definitely recommend', 'What if all my adventures go back home?', "Visiting my best friend's city for first time", 'An interesting read I definitely recommend']
- const podcastText = "All Podcast Episodes"

- const blogH1 = "Blog"
- const spanHome = "Home / Blog"
- const blogPosts = "Blog Posts"
- const tituloblog2 = ["Global News Podcast Thai soldier kills many people a shooting rampage", "News hour - World HealthOrganization says a new coronavirus cases slowed", "Over to You - Programme face the axe substantial financial cutbacks", "Global News Podcast Thai soldier kills many people a shooting rampage", "News hour - World HealthOrganization says a new coronavirus cases slowed", "Over to You - Programme face the axe substantial financial cutbacks", "Global News Podcast Thai soldier kills many people a shooting rampage", "News hour - World HealthOrganization says a new coronavirus cases slowed", "Over to You - Programme face the axe substantial financial cutbacks"]

- const pagesH1 = "Over to You - Programmer face the substantial financial cutbacks"
- const spanPages = "By Mehedi Hasan"
- const spanTime = "Sep 11, 2020"
- const spanTimePages = "Cantonese Radio"
- const pagesH3 = "And yes, it does attach an image of you selecting a text on Medium instead of just quoting the text. What a mess with image & blog."
- const pagesNewH3 = "The reasons why Programmer face the substantial financial cutbacks"
- const comments = "Comments"
- const contactH1 = "Contact"
- const contactSpan = "Home / Contact"
- const contactH2 = "Get In Touch"