
mixin blog(nombre)
    .blog-item 
        .blog-title 
            .blog-title__container 
                span By Mehedi Hasan
                    p Sep 11, 2020
                p Cantonese Radio
        .blog-head 
            h3= nombre
        .blog-lorem 
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore ………..
        p.blog-readMore Read More 