mixin episode(image, title)
    .episode-item
        .episode-items__go 
            img(src=image)
            .episode-items__texts 
                h3= title
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam , sed diam voluptua.
                img(src="../img/podcast/play.png")
        .episode-line 
        .episode-season 
            p # Season 1
            p # Posted on Sep 3, 2020
            p #  audio / goodbyes / life